<div class="home-container">
  <!-- NOTE: Header section -->
  <header>
    <a href="//gmail.com">Gmail</a>
    <a href="//google.com/images">Images</a>
    <mat-icon>apps</mat-icon>
    <button>Sign in</button>
  </header>

  <!-- NOTE: Main section -->
  <main>
    <img src="../../../assets/images/google-logo2.png" alt="logo" class="google-logo">
    <div class="search-box">
      <form>
        <app-search></app-search>
      </form>
    </div>

    <div class="g-buttons">
      <button type="button">Google Search</button>
      <button>I'm Feeling Lucky</button>
    </div>
  </main>

</div>